@charset "IBM866";
/*done by Coderiver.com.ua */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

body { background: url(../img/background-main.png) no-repeat fixed 100%; -moz-background-size: cover; -o-background-size: 100% auto; -webkit-background-size: 100% auto; -khtml-background-size: cover; background-size: cover; font-family: 'Open Sans', sans-serif; }
@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/OpenSansLight.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Light Italic';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(fonts/OpenSansLightItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(fonts/OpenSans.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Italic';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(fonts/OpenSansItalic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Semibold';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(fonts/OpenSansSemibold.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/OpenSansBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Extrabold';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(fonts/OpenSansExtrabold.ttf) format('truetype');
}

a { text-decoration: none; -o-transition: .5s; -ms-transition: .5s; -moz-transition: .5s; -webkit-transition: .5s; transition: .5s; }

h2 { font-size: 24px; font-weight: 400; font-family: 'Open Sans', sans-serif;}

h3 { font-size: 18px; font-weight: 400; }

h4 { font-size: 14px; font-weight: 400; }
i {font-style: italic;}
p {font-family: 'Open Sans', sans-serif;}
.out { float: left; width: 100%; padding-bottom: 28px; }

.all-wrapper { clear: both; min-width: 1024px; max-width: 1280px; margin: 0px auto; padding: 0px; padding-left: 48px; padding-right: 48px; }

.header { width: 100%; padding-top: 12px; }

.header__saletxt { font-family: 'Open Sans Extrabold', sans-serif; font-weight: 800; float: right; margin-right: 2px; margin-bottom: 10px; display: block; padding: 5px 0px 3px 28px; background: url(../img/icons/icon-sale.png) no-repeat left center; color: #c7e1f7; font-size: 12px; letter-spacing: 0.5px; }

.top-navigation { float: right; width: 100%; padding: 17px 0px 17px 0px; clear: both; background: white; }

.top-navigation__art-territory { overflow: hidden; width: 114px; height: 108px; float: left; margin-left: 33px; }
.top-navigation__art-territory img { width: 114px; height: 108px; }

.top-navigation__art-territory:hover { background: url(../img/logo/logo_art-hover.png); }
.top-navigation__art-territory:hover img { display: none; }

.top-navigation__hodabbi { float: left; overflow: hidden; margin: 27px 0px 0px 28px; width: 166px; height: 47px }
.top-navigation__hodabbi img { width: 166px; height: auto; }
.top-navigation__hodabbi:hover img { margin-top: -47px; }

.top-navigation__like { width: 48px; height: 48px; float: right; margin-right: -48px; margin-top: -17px; }

.like { float: left; width: 48px; height: 48px; background: url(../img/icons/icon-like-hover.png); }
.like__bg	{ float: left; width: 48px; height: 48px; background: url(../img/icons/icon-like.png) no-repeat; background-position: top -48px center; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
.top-navigation__like:hover .like__bg	{background-position: top 0px center;}
.other-likes { float: left; display: none; text-align: center; line-height: 3; padding: 10px 0px 0px 0px; width: 100%; background: #f2f2f2; }

/*.top-navigation__like:hover .other-likes { display: block; }*/

.top-navigation__menu { float: right; margin-top: 35px; margin-right: 27px; }

.menu__home { float: left; width: 40px; height: 40px; margin: 0px 15px 0px 0px; background: url(../img/icons/icon-homepage.png) no-repeat center center; }

.home__header { background: url(../img/icons/icon-homepage.png) no-repeat center center; }

.home__header:hover { background: url(../img/icons/icon-homepage_red.png) no-repeat center center; }

.is-homepage__header { background: url(../img/icons/icon-homepage_red.png) no-repeat center center; }

.menu__panel { float: left; }

.menu__item { font-family: 'Open Sans Extrabold', sans-serif; font-weight: 800; float: left; display: block; padding: 15px 0px 13px 0px; margin: 0px 15px 0px 20px; font-size: 12px; color: black; letter-spacing: 0.3px; }

.menu__item:hover { color: #ff9a84; }

.menu__is-selected { color: #f35a39; }

.content { float: left; margin-top: 12px; width: 100%; }

.slider__buttons { float: left; width: 48px; margin-left: -48px; height: 96px; margin-top: 180px; }

.slider__button-left { float: left; width: 48px; height: 48px; background: url(../img/arrows-bg/arrow-left.png) center center no-repeat; }
.sbl-bg	{ float: left; width: 48px; height: 48px; background: url(../img/arrows-bg/arrow-left-hover.png) no-repeat top center; -o-transition: .5s; -ms-transition: .5s; -moz-transition: .5s; -webkit-transition: .5s; transition: .5s; }
.sbl-bg:hover { background: url(../img/arrows-bg/arrow-right-hover2.png) no-repeat; }

.slider__button-right { float: left; width: 48px; height: 48px; background: url(../img/arrows-bg/arrow-right.png) center center no-repeat; }
.sbr-bg	{ float: left; width: 48px; height: 48px; background: url(../img/arrows-bg/arrow-right-hover.png) no-repeat top center; -o-transition: .5s; -ms-transition: .5s; -moz-transition: .5s; -webkit-transition: .5s; transition: .5s; }
.sbr-bg:hover { background: url(../img/arrows-bg/arrow-right-hover2.png) no-repeat; }

.slider { float: left; overflow: hidden; width: 40%; height: 0; padding-bottom: 39%; padding-right: 12px; box-sizing: border-box; -moz-box-sizing: border-box; }

.slider__block { float: left; width: 100%; height: 0; padding-bottom: 100%; position: relative; }

.slider__news { float: left; width: 100%; height: 0%; padding-bottom: 100%; position: relative; overflow: hidden;  }
.slider__news1	{ float: left; width: 100%; height: 0%; padding-bottom: 100%; -webkit-transition: all .1s ease;  -moz-transition: all .1s ease; -o-transition: all .1s ease; transition: all .1s ease; }
.slider__block:hover .slider__news1 {-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
.slider__block{-webkit-transform: translate3d(0px,0px,0px);}
.lil-info__bot { z-index: 9999; text-decoration: none; color: white; display: block; background: url(../img/filter/bg-yellow.png); width: 39%; height: 33%; padding: 9% 3% 8% 7%; position: absolute; bottom: 0px; right: 0px; }
.lil-info__bot .lil-info__heading { width: 100%; display: block; line-height: 1.8; letter-spacing: 0.9px; -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -o-transition: all 0.4s ease; transition: all 0.4s ease; margin-bottom: 15px; font-size: 14px; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); font-weight: 700; font-family: 'Open Sans Bold', sans-serif; }
.lil-info__arrow { -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; margin-left: 6px; position: relative; top: 4px; display: inline-block; width: 11px; height: 16px; background: url(../img/arrows/arrow-right-w.png) no-repeat; background-position: top right; }
.lil-info__bot p { margin-top: 15px; width: 100%; height: 56%; opacity: 0; overflow: hidden; -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -o-transition: all 0.4s ease; transition: all 0.4s ease; }
.lil-info__bot:hover { width: 70%; height: 73%; padding: 13% 16% 16% 16%; }
.lil-info__bot:hover .lil-info__heading { font-size: 24px; }
.lil-info__bot:hover .lil-info__arrow { margin-left: 9px; position: relative; top: 2px; }
.lil-info__bot:hover p { opacity: 1; }
.date { font-size: 12px; font-family: Arial, sans-serif; letter-spacing: 0.4px; color: black; position: absolute; bottom: 35px; right: 75px; opacity: 0.3; }

.slider__circle { float: left; position: absolute; padding: 8%; bottom: 0px; left: 0px; z-index: 10000; }

.slider__circle-button, .slider__circle span { cursor: pointer; float: left; text-indent: -1000px; width: 13px; height: 13px; background: url(../img/buttons/button-circle.png); margin-right: 15px; -o-transition: .5s; -ms-transition: .5s; -moz-transition: .5s; -webkit-transition: .5s; transition: .5s; }

.slider__circle-button:hover, .slider__circle span:hover { background: url(../img/buttons/button-circle-hover.png); }

.is-active_circle, .slider__circle .cycle-pager-active { background: url(../img/buttons/button-circle-act.png); }

.map { float: left; overflow: hidden; width: 40%; height: 0; padding-bottom: 39%; padding-right: 12px; box-sizing: border-box; -moz-box-sizing: border-box; }

.map__block { position: relative;float: left; width: 100%; overflow: hidden; height: 0; padding-bottom: 100%;  -moz-background-size: cover; -o-background-size: 100% auto; -webkit-background-size: 100% auto; -khtml-background-size: cover; background-size: cover; background-position: 10% 0%; }

.map__block .actualmap{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 9;
}
.map__block .actualmap>ymaps{
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
}
.map__text { float: left;z-index: 10; -webkit-box-shadow: 0px 2px 30px 0px rgba(186, 38, 7, 1); -moz-box-shadow:    0px 2px 30px 0px rgba(186, 38, 7, 1); box-shadow: 0px 2px 30px 0px rgba(186, 38, 7, 1); text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.3); font-family: 'Open Sans Light',sans-serif; background: #f35a39; width: 80%; padding: 40px 10% 13% 10%; font-size: 2em; color: white; font-weight: 300; line-height: 1.8; position: relative; }
.map__text i { font-family: 'Open Sans Light Italic',sans-serif;font-style: normal; }
.map__text .other-cities { cursor: pointer; color: white; padding-right: 16px;}
.map__text .other-cities span.map__bord { border-bottom: dotted 2px white; }
.map__text a { color: white; }
.map__arrow { background: url(../img/arrows/arrow-drop.png) right center no-repeat; width: 15px; position: relative; top: 2px; height: 16px; border-bottom: none; display: inline-block;}
.map__cities { float: left; display: none; clear: both; width: 100%; padding-top: 10%; }
.map__cities ul { float: left; width: 40%; padding-left: 5%; }
.map__cities ul li { float: left; width: 100%; }
.map__cities ul a { float: left; width: 100%; }
.map__cities ul a:hover {  }
.map__cities ul a.is-active{font-weight: bold;}

.map__button { float: left; position: absolute; width: 30px; height: 16px; bottom: -16px; right: 48%; background: url(../img/arrows/arrow_map.png) center center; }

.catalog { float: left; width: 20%; height: 0; padding-bottom: 39%; box-sizing: border-box; -moz-box-sizing: border-box; background: white; }

.catalog__block { float: left; width: 100%; height: 0%; padding-bottom: 100%; }

.catalog__link { float: left; width: 100%; height: 120px; background: url(../img/catalog.png) no-repeat center center; overflow: hidden; }

.catalog__link a { background: url(../img/filter/bg-azure.png); width: 69%; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); padding: 25px 15% 17px 17%; height: 77px; display: block; font-weight: 700; font-family: 'Open Sans Bold', sans-serif; color: white; letter-spacing: 0.4px; line-height: 1.7; font-size: 14px; }

.catalog__list { float: left; clear: both; margin-top: -17px; padding: 10% 15% 0% 17%; background: url(../img/arrows/arrow-blue-bot.png) repeat-x top center; }

.catalog__items { float: left; clear: both; display: block; margin-top: 15px; margin-bottom: 7px; padding: 0px 0px 0px 0px; color: #32bd85; font-size: 14px; letter-spacing: 1px; line-height: 1.8; font-family: 'Open Sans', sans-serif; }

.blocks { width: 100%; height: 227px; }

.subs { float: left; width: 20%; height: 227px; margin-top: 12px; padding-right: 12px; box-sizing: border-box; }

.subs__bg { width: 100%; height: 227px; background: #9e7ac2; }

.subs__border { height: 199px; padding: 20px 12% 0px 12%; border: 4px dashed #7952a0; position: relative; }

.subs__heading { margin-top: 10px; padding-bottom: 5px; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); font-weight: 700; font-family: 'Open Sans Bold', sans-serif; line-height: 1.8; color: white; letter-spacing: 0.8px; }

.subs__keyword { width: 76%;  margin-top: 10px; margin-bottom: 10px; padding: 10px 7% 13px 7%; border-top: 2px solid #7952a0; background: white; font-size: 14px; }

.subs__keyword::-webkit-input-placeholder { color: #adadad; font-family: 'Open Sans Light Italic'; }
.subs__keyword::-moz-placeholder { color: #adadad; font-family: 'Open Sans Light Italic'; } /* firefox 19+ */
.subs__keyword:-ms-input-placeholder { color: #adadad; font-family: 'Open Sans Light Italic'; } /* ie */
.subs__keyword input:-moz-placeholder { color: #adadad; font-family: 'Open Sans Light Italic'; }

.subs__submit { font-weight: 700; font-family: 'Open Sans Bold', sans-serif; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); float: left; width: 90%; height: 40px; font-size: 11px; color: white; letter-spacing: 2px; background: url(../img/buttons/subs__submit.png) repeat-x center center; cursor: pointer; }

.subs__submit:hover { background: url(../img/buttons/subs__submit-hover.png) repeat-x center center; }

.subs__submit:active { background: url(../img/buttons/subs__submit-active.png) repeat-x center center; }

.subs__reload { position: absolute; bottom: 30%; right: 46%; background: url(../img/reload.png); width: 22px; height: 23px; }

.soclogo { float: left; width: 20%; margin: 12px 0px 0px 0px; height: 227px; padding-right: 12px; box-sizing: border-box; }

.soclogo__vk { float: left; width: 100%; height: 75px; background: #5a7ea5; }

.soclogo__fb { float: left; width: 100%; height: 75px; background: #3c579a; }

.soclogo__twitter { float: left; width: 100%; height: 77px; background: #33ccff; }
.soclogo img { padding-top: 31px; margin: 0 auto; display: block;}
.photo { float: left; margin: 12px 0px 0px 0px; width: 19%; height: 227px; overflow: hidden; padding-right: 12px; box-sizing: border-box; }

.photo__img { float: left; margin: -20px 0px 0px -65px; -webkit-transition: all .1s ease;  -moz-transition: all .1s ease; -o-transition: all .1s ease; transition: all .1s ease; }
.photo:hover .photo__img{-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }

.gallery { float: left; overflow:hidden; margin-top: 12px; width: 41%; height: 227px; padding-left: 12px; box-sizing: border-box; }

.gallery__bg { float: left; width: 102%; overflow: hidden; height: 227px; background: url(../img/photo-gal.png); }

.gallery__left { float: left; width: 47%; text-align: center; padding-top: 90px; height: 137px; background: url(../img/1397245740_icon-camera.png) center center; color: white; }
.gallery__left h2 { text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); font-weight: 700; font-family: 'Open Sans Bold', sans-serif; display: block; text-align: left; width: 60%; margin: 4px 15% 0px 25%; font-size: 14px; line-height: 1.7; letter-spacing: 0.8px; }

.gallery__right { position: relative; float: left; width: 53%; height: 227px; overflow: hidden; }
.gallery__right-bg { float: left; width: 100%; height: 227px; background: url(../img/galright-photo.png) no-repeat; -webkit-transition: all .1s ease;  -moz-transition: all .1s ease; -o-transition: all .1s ease; transition: all .1s ease; }
.gallery__right:hover .gallery__right-bg {-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }

.gallery__photo {z-index: 1000; width: 16px; height: 30px; position: absolute; bottom: 45%; left: 0px; background: url(../img/arrows/arrow-right-br.png) no-repeat center left; }

.heading { float: left; min-width: 1024px; max-width: 1280px; width: 100%; overflow: hidden; height: 143px; background: url(../img/pictures/DSC_6078.png) no-repeat scroll 100%; -moz-background-size: cover; -o-background-size: 100% auto; -webkit-background-size: 100% auto; -khtml-background-size: cover; background-size: cover; background-position: 0% 22%; }

.heading__wrapper { float: left; width: 100%; padding: 21px 0px 35px 0px; text-align: center; }

.heading__way li { display: inline; background: url(../img/disc.png) no-repeat center left; padding: 0px 12px 0px 15px; }
.heading__way .is-first { background: none; padding: 0px 12px 0px 12px; }
.heading__way a { color: white; font-size: 13px; }

.heading h1 { font-size: 54px; color: white; font-weight: 300; font-family: 'Open Sans Light', sans-serif;}

.company { float: left; clear: both; width: 70%; background: white; padding: 57px 15% 5% 15%; }
.company .font__30px { float: left; width: 100%; display: block; padding-bottom: 27px; }
.company h2.is-red { letter-spacing: 0.2px; padding-left: 3px; clear: both; }

.font__30px { font-size: 30px; }

.company__content { width: 100%; padding-bottom: 4%; }
.company__content .is-grey { color: #666666; width: 100%; font-size: 13px; padding-top: 16px; padding-bottom: 25px; line-height: 1.8; letter-spacing: 0px; }
.company__content .is-grey-second { font-size: 13px; padding-left: 2px; padding-top: 20px; letter-spacing: 0.2px;}
.company__text { font-size: 13px; padding-left: 3px; line-height: 1.9; letter-spacing: 0px; }
.is-grey { font-family: 'Open Sans', sans-serif; }
.company__pr { padding-top: 14px; float: left; width: 29%; line-height: 2; padding-bottom: 5%; }

.company__img { padding-bottom: 5%; }

.company-center { width: 29%; margin: 0% 6% 0% 5%; }

.company__bord { float: left; clear: both; padding: 4% 12% 5% 9%; width: 77%; margin-top: 12px; font-family: 'Open Sans Italic', sans-serif; margin-bottom: 50px; letter-spacing: 0px; line-height: 1.7; border-top: 3px solid #e67e22; border-bottom: 3px solid #e67e22; }

.socnet { margin-top: 12px; float: left; width: 100%; position: relative; }

.scnet { float: left; width: 48px; margin-left: -48px; position: absolute; top: 0px; left: 0px; }

.scnet__item { float: left; width: 48px; height: 48px; }

.scnet__fb { background: url(../img/icons/fb.png); }
.fb__bg	{ float: left; width: 48px; height: 48px; background: url(../img/icons/fb-hov.png) no-repeat; background-position: top -48px center; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
.fb__bg:hover	{background-position: top 0px center;}

.scnet__vk { background: url(../img/icons/vk.png); }
.vk__bg	{ float: left; width: 48px; height: 48px; background: url(../img/icons/vk-hov.png) no-repeat; background-position: top -48px center; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
.vk__bg:hover	{background-position: top 0px center;}

.scnet__twitter { background: url(../img/icons/twitter.png); }
.twitter__bg	{ float: left; width: 48px; height: 48px; background: url(../img/icons/twitter-hov.png) no-repeat; background-position: top -48px center; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
.twitter__bg:hover	{background-position: top 0px center;}

.scnet__mail { background: url(../img/icons/mail.png); cursor: pointer; }
.mail__bg	{ position: relative; float: left; width: 48px; height: 48px; background: url(../img/icons/mail-hov.png) no-repeat; background-position: top -48px center; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
.mail__bg:hover	{ background: url(../img/icons/mail-hov.png) no-repeat; background-position: top 0px center;}


#divWin { z-index: 9999999; position: absolute; left: 48px; top: 48px; visibility: hidden; }
#closetButton { position: absolute; top: 0; right: 0px; margin: 10px;  cursor: pointer; width: 16px; height: 16px; background: url(../img/buttons/close.png) no-repeat center center; }

.subs__hidden { float: right; position: absolute; top: 48px; left: 48px; width: 225px; height: 227px; margin-top: -48px; }

.maingl { float: left; width: 100%;}

.is-margintop { margin-top: 7px; }

.maingl__slider { float: left; margin-top: 38px; margin-left: -7.5%; width: 113.5%; overflow: hidden; margin-bottom: 35px; }

.maingl__bigimg { float: left; width: 100%; height: 540px; }
.maingl__bigimg img { float: left; width: 100%; height: 540px; }

.maingl__bigslide { float: left; width: 100%; height: 540px; }

.b-carousel  { float: left; position: relative; width: 100%; margin-top: -65px; height: 67px;}
.h-carousel-wrapper 	{ float: left; padding: 0% 7% 0% 7%; width: 86%; height: 67px; overflow: hidden; position: relative; }
.h-carousel-items 	{ float: left; width: 10000px; height: 67px; overflow: hidden; position: relative; background: black; }
.b-carousel-block 	{ width: 98px; float: left; height: 67px; overflow:hidden; }
.b-carousel-block img	{ float: left; margin-top: -10px; opacity: 0.5; }
.b-carousel-block img:hover	{ opacity: 1; }
.buttons	{ float:right;}
.b-carousel-button-left, .b-carousel-button-right {z-index:9999; cursor:pointer; }
.b-carousel-button-left:hover, .b-carousel-button-right:hover { background: url(../img/arrows-bg/arrow-right-hover2.png)}
.b-carousel-button-left { float: left; position: absolute; left: 0%; width: 7%; height: 67px; background: url(../img/arrows-bg/arrow-left-hover.png) center center;}
.b-carousel-button-right { float: right; position: absolute; right: 0%; width: 7%; height: 67px; background: url(../img/arrows-bg/arrow-left-hover2.png) center center; }
.b-carousel-button-left i {display: block; height: 67px; width: 100%; background: url(../img/arrows-bg/arrow-left.png) no-repeat center center;}
.b-carousel-button-right i {display: block; height: 67px; width: 100%; background: url(../img/arrows-bg/arrow-right.png) no-repeat center center;}
.banner { float: left; width: 100%; position: relative; height: 5px; padding-top: 30%; background: url(../img/pictures/DSC_6438.png) scroll 100%; -moz-background-size: cover; -o-background-size: 100% auto; -webkit-background-size: 100% auto; -khtml-background-size: cover; background-size: cover; background-position: 0% 50%; }

.banner__info { width: 452px; padding: 26px 45px 38px 45px; position: absolute; bottom: 0px; right: 0px; background: url(../img/filter/bg-yellow.png); line-height: 1.5; }
.banner__info h2 { display: block; color: white; letter-spacing: 1.4px; padding-bottom: 0px; }
.banner__info h2 a {text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); font-weight: 400; font-family: 'Open Sans', sans-serif; float: left; color: white; margin-bottom: 60px;}

.text { float: left; margin-top: 12px; clear: both; width: 70%; background: white; padding: 61px 15% 63px 15%; }
.text h2.is-red { letter-spacing: 0.4px; padding-left: 7px; clear: both; }
.text .is-grey { color: #666666; width: 97%; font-size: 13px; padding-top: 15px; padding-left: 1px; padding-bottom: 25px; line-height: 1.8; letter-spacing: 0.2px; }

.text__block { float: left; width: 46%; padding-left: 3px; padding-bottom: 30px; font-size: 13px; line-height: 1.9; }
.text__block p { letter-spacing: 0.2px; }

.text__list { float: left; width: 40%; padding-left: 30px; padding-right: 23px; padding-top: 5px; }

.list__item { font-size: 13px; letter-spacing: 0.1px; color: black; display: block; padding: 7px 10px 8px 35px; background: url(../img/disc-blue.png) no-repeat left center; }

.next { float: left; clear: both; color: #5f96d7; margin-top: 6%; margin-left: 5px; padding-left: 23px; background: url(../img/arrows/arrow-blue.png) no-repeat left center; }
.next:hover { padding-left: 26px;  }
.news { float: left; width: 33.8%; height: 355px; overflow: hidden; padding-left: 12px; box-sizing: border-box; -moz-box-sizing: border-box; }
.width3336 {width: 33.8%;}
.width34 { width: 32.4%; padding-left: 0px; }

.news__block { overflow: hidden; float: left; width: 100%; height: 355px; background-position: top 0px left -80px; -moz-background-size: cover; -o-background-size: 100% auto; -webkit-background-size: 100% auto; -khtml-background-size: cover; background-size: cover; }


.news__inf { position: relative; float: left; width: 100%; height: 355px; padding: 0px 0% 0px 0%; letter-spacing: 1.3px; line-height: 1.5; }
.news__inf a { color: white; }

.news__inf .lil-info__bot { z-index: 9999; text-decoration: none; color: white; display: block; width: 175px; height: 130px; padding: 32px 15px 35px 30px; position: absolute; bottom: 0px; right: 0px; -webkit-transition: all .4s ease;  -moz-transition: all .4s ease; -o-transition: all .4s ease; transition: all .4s ease; }
.news__inf .lil-info__bot .lil-info__heading { width: 100%; display: block; line-height: 1.8; letter-spacing: 0.8px; -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -o-transition: all 0.4s ease; transition: all 0.4s ease; margin-bottom: 15px; font-size: 14px; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); font-weight: 700; font-family: 'Open Sans Bold', sans-serif; }
.news__inf .lil-info__arrow { -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; margin-left: 6px; position: relative; top: 4px; display: inline-block; width: 11px; height: 16px; background: url(../img/arrows/arrow-right-w.png) no-repeat; background-position: top right; }
.news__inf .lil-info__bot p { margin-top: 20px; font-weight: 300; font-family: 'Open Sans Light', sans-serif; font-size: 13px; padding-left: 2px; letter-spacing: 0.2px; line-height: 1.9; width: 100%; height: 56%; opacity: 0; overflow: hidden; -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -o-transition: all 0.4s ease; transition: all 0.4s ease; }
.news__inf .lil-info__bot:hover { width: 70%; height: 57%; padding: 13% 18% 32% 14%; }
.news__inf .lil-info__bot:hover .lil-info__heading  { width: 100%; display: block; font-size: 24px; font-weight: 300; font-family: 'Open Sans Light', sans-serif; letter-spacing: 1.8px; line-height: 1.5; }
.news__inf .lil-info__bot:hover .lil-info__arrow { margin-left: 9px; position: relative; top: 2px; }
.news__inf .lil-info__bot:hover p { opacity: 1; }
.news__inf .date { width: 100%; font-size: 12px; font-family: Arial, sans-serif; letter-spacing: 0.4px; color: black; position: absolute; bottom: 35px; left: 15%; opacity: 0.3; }
.news__inf .lil-info__bot:hover .date { left: 14%; }

.news__inf .lil-info-first { width: 70%; height: 57%; padding: 13% 18% 32% 14%; }
.news__inf .lil-info-first .lil-info__heading { width: 100%; display: block; font-size: 24px; font-weight: 300; font-family: 'Open Sans Light', sans-serif; letter-spacing: 1.8px; line-height: 1.5; }
.news__inf .lil-info-first .lil-info__arrow { margin-left: 6px; position: relative; top: 2px; }
.news__inf .lil-info-first p { opacity: 1; }
.news__inf .lil-info-first .date { left: 16%; }

.lil-info__date { width: 100%; font-size: 12px; font-family: Arial, sans-serif; letter-spacing: 0.4px; color: black; position: absolute; bottom: 40px; left: 50px; opacity: 0.3; }

.news-list .lil-info__bot { width: 150px; padding-right: 30px; }
.news-list .lil-info__bot:hover { overflow: hidden; height: 74%; width: 72%; padding: 13% 16% 15% 14%; }
.news-list .lil-info__bot p { height: 56%; }

.news__bg21	{ float: left; width: 100%; height: 355px; background: url(../img/pictures/DSC_6140.png) 100% scroll; -webkit-transition: all .1s ease;  -moz-transition: all .1s ease; -o-transition: all .1s ease; transition: all .1s ease; }
.news__bg2:hover .news__bg21 {-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
.news__bg31	{ float: left; width: 100%; height: 355px; background: url(../img/pictures/DSC_6461.png) 100% scroll; -webkit-transition: all .1s ease;  -moz-transition: all .1s ease; -o-transition: all .1s ease; transition: all .1s ease; }
.news__bg3:hover .news__bg31 {-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
.news__bg41	{ float: left; width: 100%; height: 355px; background: url(../img/pictures/DSC_6287.png) 100% scroll; -webkit-transition: all .1s ease;  -moz-transition: all .1s ease; -o-transition: all .1s ease; transition: all .1s ease; }
.news__bg4:hover .news__bg41 {-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
.news__bg51	{ float: left; width: 100%; height: 355px; background: url(../img/pictures/DSC_6128.png) 100% scroll; -webkit-transition: all .1s ease;  -moz-transition: all .1s ease; -o-transition: all .1s ease; transition: all .1s ease; }
.news__bg5:hover .news__bg51 {-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
.news__bg61	{ float: left; width: 100%; height: 355px; background: url(../img/pictures/DSC_6438.png) 100% scroll; -webkit-transition: all .1s ease;  -moz-transition: all .1s ease; -o-transition: all .1s ease; transition: all .1s ease; }
.news__bg6:hover .news__bg61	{-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
.news__bg11	{ float: left; width: 100%; height: 355px; background: url(../img/pictures/DSC_6438.png) scroll 100%; -webkit-transition: all .1s ease;  -moz-transition: all .1s ease; -o-transition: all .1s ease; transition: all .1s ease; }
.news__bg1:hover .news__bg11 {-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }

.margin12 { margin-top: 12px; float: left; width: 100%; position: relative; }

.shops { padding-top: 52px; padding-bottom: 30px; padding-right: 13%; width: 72%; }
.shops .is-red {padding-left: 0px; margin-left: -4px; }
.shops .is-red .town { margin-left: 5px; font-family: 'Open Sans Italic', sans-serif; border-bottom: dotted 2px #ff512c; color: #ff512c; }
.shops .is-red .town i { font-style: normal; }
.shops .is-red .is-redarr { display: inline-block; width: 15px; height: 11px; position: relative; top: 0px; margin-right: 10px; background: url(../img/arrows/arrow-drop-red.png) right center no-repeat; }

.shops__cities { float: left; display: none; clear: both; width: 100%; padding-top: 3%; }
.shops__cities ul { float: left; width: 40%; padding-left: 5%; }
.shops__cities ul li { float: left; width: 100%; }
.shops__cities ul a { float: left; width: 100%; font-size: 24px; color: #ff512c; }
.shops__cities ul a:hover { }
.bigmap{
  background: #fff;
}
.shops__map{
  background: #fff;
  height: 400px;
}
.shops__map>ymaps{
  width: 100% !important;
}


.bigmap { float: left; clear: both; width: 100%;  box-shadow: inset 0 20px 20px -20px #ba2607; position: relative; }
.bigmap{ 
	overflow: hidden;
	width: 100%;
	/*background: #FFFFFF;*/
}
.bigmap img{
	width: 100%;
	height: auto !important;
}


.bigmap .bigmap__float { float: left; width: 332px; padding: 20px 15px 30px 25px; background: white; position: absolute; top: 80px; right: 270px; box-shadow: 0px 4px 10px -2px black; }
.bigmap .bigmap__float span { font-size: 13px; }
.bigmap .bigmap__float .bigmap__coordinates { padding-top: 7px; }

.shops__container { margin-top: -2px; float: left; width: 100%; padding-bottom: 40px; }

.shops__block { float: left; width: 42%; padding-bottom: 54px; padding-right: 6%; }
.shops__block .is-red { padding-bottom: 8px; padding-left: 2px; padding-top: 10px; }
.shops__block span { width: 78%; padding-right: 22%; font-size: 13px; line-height: 2; padding: 0px 0px 0px 2px; letter-spacing: 0.2px; float: left; clear: both; }

.shops__tomap { float: left; clear: both; font-size: 13px; letter-spacing: 0.2px; margin-top: 10px; margin-left: 3px; color: #ff512c; border-bottom: dotted 1px #ff512c; width: 114px; }

.shops__tomap:hover { color: #7a7a7a; border-bottom: dotted 1px #7a7a7a; }

.shops .bottom-line { float: left; width: 100%; margin-top: -13px; padding-bottom: 7px; border-bottom: 1px solid black; margin-bottom: 30px; }

.contacts { padding-top: 46px; padding-bottom: 73px; }

.contacts__block { margin-left: 3px; }

.contacts__minsk { float: left; clear: both; padding-top: 15px; width: 100%; line-height: 1.9; letter-spacing: 0.2px; }

.contacts__left { float: left; width: 45%; }
.contacts__left span { width: 100%; float: left; clear: both; }
.contacts__left .time { letter-spacing: 0.1px; }
.contacts__left .address { padding-top: 15px; letter-spacing: 0.1px; }

.contacts__right { float: right; width: 41%; }
.contacts__right span { width: 100%; float: left; clear: both; }
.contacts__right .email { letter-spacing: 0.1px; }
.contacts__right .email a { text-decoration: underline; }
.contacts__right .phone-nomber { letter-spacing: 0.4px; }

.address { font-size: 13px; }

.phone-nomber { font-size: 13px; }

.time { font-size: 13px; }

.email { font-size: 13px; }

.contacts__shops { padding-top: 40px; padding-bottom: 0px; }
.contacts__shops .shops__block { padding-top: 10px; padding-bottom: 44px; }

.is-sb__right { padding-right: 0%; padding-left: 8%; }

.is-paddingbot5px { float: left; width: 100%; padding-bottom: 5px; }

.catalog__bg11 { float: left; width: 100%; height: 355px; background: url(../img/pictures/DSC_6438.png) scroll 100%; -webkit-transition: all .1s ease;  -moz-transition: all .1s ease; -o-transition: all .1s ease; transition: all .1s ease; }
.catalog__bg1:hover .catalog__bg11 {-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }

.catalog__bg21	{ float: left; width: 100%; height: 355px; background: url(../img/pictures/DSC_6652.png) scroll 100%; background-position: top 0px left -80px; -webkit-transition: all .1s ease;  -moz-transition: all .1s ease; -o-transition: all .1s ease; transition: all .1s ease; }
.catalog__bg2:hover .catalog__bg21 {-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }

.catalog__bg31	{ float: left; width: 100%; height: 355px; background: url(../img/pictures/DSC_6077.png) scroll 100%; -webkit-transition: all .1s ease;  -moz-transition: all .1s ease; -o-transition: all .1s ease; transition: all .1s ease; }
.catalog__bg3:hover .catalog__bg31 {-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }

.catalog__bg41 { float: left; width: 100%; height: 355px; background: url(../img/pictures/DSC_6287.png) scroll 100%; -webkit-transition: all .1s ease;  -moz-transition: all .1s ease; -o-transition: all .1s ease; transition: all .1s ease; }
.catalog__bg4:hover .catalog__bg41 {-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }

.catalog__bg51 { float: left; width: 100%; height: 355px; background: url(../img/pictures/DSC_6128.png) scroll 100%; -webkit-transition: all .1s ease;  -moz-transition: all .1s ease; -o-transition: all .1s ease; transition: all .1s ease; }
.catalog__bg5:hover .catalog__bg51 {-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }

.catalog__bg61 { float: left; width: 100%; height: 355px; background: url(../img/pictures/DSC_6438.png) scroll 100%; -webkit-transition: all .1s ease;  -moz-transition: all .1s ease; -o-transition: all .1s ease; transition: all .1s ease; }
.catalog__bg6:hover .catalog__bg61 {-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }

.catalog__bg71 { float: left; width: 100%; height: 355px; background: url(../img/pictures/DSC_6077.png) scroll 100%; -webkit-transition: all .1s ease;  -moz-transition: all .1s ease; -o-transition: all .1s ease; transition: all .1s ease; }
.catalog__bg7:hover .catalog__bg71 {-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }

.catalog__bg81 { float: left; width: 100%; height: 355px; background: url(../img/pictures/DSC_6128.png) scroll 100%; -webkit-transition: all .1s ease;  -moz-transition: all .1s ease; -o-transition: all .1s ease; transition: all .1s ease; }
.catalog__bg8:hover .catalog__bg81 {-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }

.catalog__bg91 { float: left; width: 100%; height: 355px; background: url(../img/pictures/DSC_6438.png) scroll 100%; -webkit-transition: all .1s ease;  -moz-transition: all .1s ease; -o-transition: all .1s ease; transition: all .1s ease; }
.catalog__bg9:hover .catalog__bg91 {-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }

.banner__2-1catalog { background: url(../img/pictures/DSC_6240.png); }
.banner__2-1catalog h2.font__36px { padding-bottom: 18px; padding-left: 5px; padding-top: 20px; letter-spacing: 1.9px; }
.banner__2-1catalog h2.font__36px a { color: white; }

h2.font36px a { margin-top: 20px; margin-left: 10px; font-size: 36px; font-family: 'Open Sans Light', sans-serif; font-weight: 300;}
.text h2.font__30px { float: left; clear: both; margin-bottom: 25px; }

.catalog2-1 { padding-top: 50px; }
.catalog2-1 .text__block { padding-bottom: 0px; }

.catalog2-1__content { float: left; width: 100%; clear: both; }

.catalog2-1__box { float: left; width: 120%; margin-left: -10%; padding-bottom: 40px; padding-top: 30px; }

.catalog2-1__img { float: left; width: 36%; margin-right: 5%; }

.catalog2-1__headingbox { width: 59%; color: #ff512c; float: left; line-height: 1; margin-top: -2px; }

.catalog2-1__textbox { float: left; width: 53%; padding-left: 2px; padding-right: 5%; line-height: 1.9; font-size: 13px; margin-top: 23px; letter-spacing: 0.2px; }

.catalog2-1__list { width: 100%; float: left; clear: both; padding-bottom: 50px; }

.is-first__catalbox { padding-bottom: 25px; }

.footer { margin-top: 12px; float: left; clear: both; width: 100%; background: url(../img/bg-footer.png) no-repeat left center; }

.footer__wrapper { float: left; width: 100%; padding: 42px 0px 0px 0px; background: url(../img/filter/bg-green.png); }

.comp { float: left; margin-top: 12px; width: 17%; font-size: 12px; color: white; line-height: 2; margin-left: 3%; text-indent: 5px; }

.is-yellow { float: left; color: #ffe062; margin-top: 5px; text-decoration: underline; }

.footer__menu { float: left; width: 60%; padding-left: 5%; }

.home__footer { background: url(../img/icons/icon-homepage_green.png) no-repeat center center; }

.home__footer:hover { background: url(../img/icons/icon-homepage_footer.png) no-repeat center center; }

.is-homepage__footer { background: url(../img/icons/icon-homepage_footer.png) no-repeat center center; }

.footer__item { font-family: 'Open Sans Bold', sans-serif; font-weight: 700; float: left; display: block; padding: 14px 0px 13px 0px; margin: 0px 15px 0px 19px; font-size: 12px; letter-spacing: 0.8px; color: white; }
.footer__item:hover { color: #041c29; font-family: 'Open Sans Bold', sans-serif; }

.ftr__is-selected { color: #041c29; }

.madein { margin-top: 4px; margin-right: 3.5%; width: 109px; height: 30px; background: url(../img/madein.png); }

.madein:hover { background: url(../img/madein-hover.png); }

.footer__socialnet { float: left; clear: both; padding-left: 59px; padding-top: 38px; }

.footer__vk { float: left; width: 19px; height: 13px; margin: 0px 13px 0px 13px; background: url(../img/icons/icon-footer__vk.png) no-repeat center center; }

.footer__vk:hover { background: url(../img/icons/icon-footer__vk-hover.png) no-repeat center center; }

.footer__fb { float: left; width: 19px; height: 16px; margin: 0px 13px 0px 13px; background: url(../img/icons/icon-footer__fb.png) no-repeat center center; }

.footer__fb:hover { background: url(../img/icons/icon-footer__fb-hover.png) no-repeat center center; }

.footer__twitter { float: left; width: 19px; height: 15px; margin: 0px 15px 0px 15px; background: url(../img/icons/icon-footer__twitter.png) no-repeat center center; }

.footer__twitter:hover { background: url(../img/icons/icon-footer__twitter-hover.png) no-repeat center center; }

.footer__button-up { float: right; margin-right: 17%; margin-top: 48px; background: url(../img/buttons/button-up.png) center center; -o-transition: .5s; -ms-transition: .5s; -moz-transition: .5s; -webkit-transition: .5s; transition: .5s; }
.footer__button-up a { font-weight: 700; font-family: 'Open Sans Bold', sans-serif; float: left; display: block; padding: 21px 40px 15px 39px; font-size: 12px; color: white; letter-spacing: 3px; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); }
.footer__button-up a span { padding-right: 19px; background: url(../img/arrows/arrow-white.png) no-repeat center right; }

.footer__button-up:hover { background: url(../img/buttons/button-up-hover.png) center center; }

.is-right { float: right; }

.is-yellowbg { background: url(../img/filter/bg-yellow.png); }

.is-pinkbg { background: url(../img/filter/bg-pink.png); }

.is-azurebg { background: url(../img/filter/bg-azure.png); }

.is-purplebg { background: url(../img/filter/bg-purple.png); }

.is-red { color: #ff512c; }

.is-grey { color: #666666; }

.is-redbg { background: url(../img/filter/bg-red.png); }

.is-pinkbg { background: url(../img/filter/bg-pink.png); }

.is-bluebg { background: url(../img/filter/bg-blue.png); }

.is-orangebg { background: url(../img/filter/bg-orng.png); }


.is-padding-bottom2 { padding-top: 11px; padding-bottom: 40px; }

.font__36px { font-size: 36px; }

.font__20px { font-size: 20px; }

.catalog2-1__next { margin-top: 18px; margin-bottom: 30px; }

.opt { background: none; }
.opt .top-navigation { background: #f2f2f2; padding-bottom: 38px; }
.opt .header__saletxt { color: #f35a39; background: url(../img/icons/icon-sale-red.png) no-repeat left center; letter-spacing: 0.6px; margin-right: 0px; padding-left: 25px; margin-bottom: 8px; }

.top-navigation__palitra { width: 197px; height: 48px; float: left; margin-left: 40px; margin-top: 40px; }

.opt .top-navigation__menu { float: right; margin-right: 73px; padding-top: 1px; }
.opt .menu__item { margin-left: 19px; margin-right: 16px; }
.opt .menu__home { float: left; width: 40px; height: 40px; margin: 0px 18px 0px 3px; }
.opt .home__header { background: url(../img/icons/icon-homepage_red.png) no-repeat center center; }
.opt .slider__news { background: url(../img/pictures/DSC_6187.png) scroll 100%; }
.opt .map__block { background: none; background-color: #f2f2f2; }
.opt .map__text { float: left; background: #f35a39; letter-spacing: 0.1px; width: 82%; padding: 40px 10% 58px 10%; font-size: 24px; color: white; font-weight: 300; line-height: 1.8; position: relative; }

.map__logos { float: left; width: 88%; padding: 6%; padding-top: 4%; padding-bottom: 0%; overflow: hidden; }

.map__logo { margin-top: 7%; float: left; height: 60px; width: 33%; }
.map__logo a { float: left; width: 100%; height: 100%; }
.map__cretacolor { background: url(../img/logo/cretacolor.png) no-repeat center center; }

.map__canpol { background: url(../img/logo/canpol.png) no-repeat center center; }

.map__javana { background: url(../img/logo/javana.png) no-repeat center center; }
.map__javana	{ background: url(../img/logo/javana.png) center center no-repeat; -webkit-transition: all .1s ease;  -moz-transition: all .1s ease; -o-transition: all .1s ease; transition: all .1s ease; }
.map__logo:hover .map__javana {-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
.map__logo:hover .map__canpol {-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
.map__logo:hover .map__cretacolor {-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }

.opt .catalog { background-color: #f2f2f2; }
.opt .catalog .catalog__block { background-color: #f2f2f2; }
.opt .catalog__list { background: url(../img/arrows/arrow-blue-bot-opt.png) repeat-x top center; }
.opt .subs { padding-right: 0px; }
.opt .gallery { padding-right: 22px; width: 41%; padding-left: 12px; overflow: hidden; box-sizing: border-box; -moz-box-sizing: border-box; }
.opt .gallery__left { background: url(../img/1397505511_519582-079_Pin2.png) center center; }
.opt .gallery__left { float: left; width: 50%; text-align: center; padding-top: 87px; height: 142px; color: white; }
.opt .gallery__left h2 { text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); font-weight: 700; font-family: 'Open Sans Bold', sans-serif; display: block; text-align: left; width: 60%; margin: 4px 20% 0px 20%; font-size: 14px; line-height: 1.7; letter-spacing: 0.8px; }
.opt .gallery__right {position: relative; float: left; width: 50%; height: 227px; overflow: hidden;}
.opt .gallery__right-bg { background: url(../img/map.png) center center; }

.filter-block { overflow: hidden; margin-top: 12px; position: relative; float: left; width: 19%; height: 227px; box-sizing: border-box; -moz-box-sizing: border-box;  }
.filter-block .lil-info__heading { width: 100%; display: block; line-height: 1.8; letter-spacing: 0.6px; -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -o-transition: all 0.4s ease; transition: all 0.4s ease; margin-bottom: 15px; font-size: 14px; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); font-weight: 700; font-family: 'Open Sans Bold', sans-serif; }
.filter-block .lil-info__arrow { -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; margin-left: 6px; position: relative; top: 4px; display: inline-block; width: 11px; height: 16px; background: url(../img/arrows/arrow-right-w.png) no-repeat; background-position: top right; }
.filter-block a { text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); font-weight: 700; font-family: 'Open Sans Bold', sans-serif; font-size: 13px; color: white; line-height: 2; letter-spacing: 1px; }
.filter-block .date { position: absolute; bottom: 60px; left: 30px; opacity: 0.3; }

.filter-block__bg1 { float: left; width: 100%; height: 227px; background: url(../img/pictures/DSC_6105.png) no-repeat center center; }

.filter-block__bg2 { float: left; width: 100%; height: 227px; background: url(../img/pictures/DSC_6512.png) no-repeat center center; }

.fb__pd { padding-right: 16px; }

.fb__first { width: 20%; }

.filter-block__inf { float: left; width: 81%; padding: 33px 8% 35px 13%; height: 159px; }

.opt .company { background: #f2f2f2; padding-top: 49px; padding-bottom: 70px; }
.opt .home__footer { margin-left: -5px; }
.opt .footer__wrapper { padding-top: 44px; }
.opt .footer__menu { padding-left: 4%; }
.opt .footer__item { font-family: 'Open Sans Bold', sans-serif; font-weight: 700; float: left; display: block; padding: 15px 0px 13px 0px; margin: 0px 15px 0px 19px; font-size: 11px; letter-spacing: 1.5px; color: white; }
.opt .footer__item:hover {color: #041c29; font-family: 'Open Sans Bold', sans-serif;}
.opt .text { padding-top: 54px; }
.opt .next { margin-top: 59px; margin-bottom: 2px; }
.opt .catalog2-1 { padding-top: 36px; }
.opt .catalog2-1__list { padding-bottom: 46px; }
.opt .catalog2-1__next { margin-top: 18px; margin-bottom: 16px; }
.opt .contacts { padding-top: 21px; padding-bottom: 58px; }
.opt .contacts__shops { padding-bottom: 0px; }
.opt .shops__container { padding-bottom: 37px; }
.opt .opt-pdtp { padding-top: 46px; }
.opt .opt-pdtp .shops__container { padding-bottom: 40px; }

.bg_opt { background: #f2f2f2; }

.is-mg12 { margin-top: 12px; }

.is-mg0 { margin-top: 0px; }

.brends { float: left; width: 100%; margin-bottom: -12px; }

.brends__block { float: left; overflow: hidden; width: 25%; height: 0; padding-bottom: 25%; padding-right: 12px; box-sizing: border-box; -moz-box-sizing: border-box; }

.brends__logo { float: left; width: 100%; height: 0%; padding-bottom: 100%; }

.brends__canpol { background: url(../img/logo/canpol2.png) no-repeat center center #f2f2f2; }

.brends__canpol:hover { background: url(../img/logo/canpol2.png) no-repeat center center #f84646; }

.brends__javana { background: url(../img/logo/javana-hover2.png) no-repeat center center #f2f2f2; }

.brends__javana:hover { background: url(../img/logo/javana-hover.png) no-repeat center center #f84646; }

.brends__gamma { background: url(../img/logo/gamma.png) no-repeat center center #f2f2f2; }

.brends__gamma:hover { background: url(../img/logo/gamma.png) no-repeat center center #f84646; }

.brends__cretacolor { background: url(../img/logo/cretacolor-hover2.png) no-repeat center center #f2f2f2; }

.brends__cretacolor:hover { background: url(../img/logo/cretacolor-hover2.png) no-repeat center center #f84646; }

.brends__nevskaya-palitra { background: url(../img/logo/nevskaya-palitra-hover.png) no-repeat center center #f2f2f2; }

.brends__nevskaya-palitra:hover { background: url(../img/logo/nevskaya-palitra-hover.png) no-repeat center center #f84646; }

.brends__roubloff { background: url(../img/logo/roubloff.png) no-repeat center center #f2f2f2; }

.brends__roubloff:hover { background: url(../img/logo/roubloff.png) no-repeat center center #f84646; }

.brends__olki { background: url(../img/logo/olki.png) no-repeat center center #f2f2f2; }

.brends__olki:hover { background: url(../img/logo/olki.png) no-repeat center center #f84646; }

.is-last__bb { padding-right: 0px; width: 25%; padding-bottom: 24%; }

.brends6-1 { float: left; margin-top: 12px; clear: both; width: 70%; padding: 26px 15% 50px 15%; }
.brends6-1 .text__block { margin-top: 20px; width: 45%; }
.brends6-1 .catalog2-1__box { padding-top: 5px; }
.brends6-1 .catalog2-1__list { width: 100%; float: left; clear: both; padding-bottom: 33px; }

.brends6-1__img01 { background: url(../img/logo/brends6-1__javana.png) no-repeat center center white; height: 0%; padding-bottom: 25%; }

.brends6-1__list h2 { padding-top: 25px; padding-bottom: 20px; }
.brends6-1__list ul { padding-top: 30px; }

.brends6-1 .next { margin-bottom: 0px; }

.withoutmargin { margin-top: 12px; margin-bottom: -12px; }
.opt .ftr__is-selected { color: #041c29; }


.lil-info:hover .lil-info__arrow, .catalog__block:hover .lil-info__arrow, .gallery__left:hover .lil-info__arrow, 
.info__bot:hover h2 .lil-info__arrow, .info__bot-first:hover h2 .lil-info__arrow, .filter-block:hover .lil-info__arrow	{ margin-left: 8px; }

@media only screen and (max-width: 1200px) { 
  .footer__item { font-size: 9px; }
  .opt .footer__item { font-size: 9px; }
  .catalog__items	{ font-size: 13px; }
  .map__text	{ font-size: 22px; }
  .news__inf h2 { font-size: 14px; -o-transition: 0s; -ms-transition: 0s; -moz-transition: 0s; -webkit-transition: 0s; transition: 0s; }
  .news__inf .info__bot-first h2 { font-size: 22px; }
  .news__inf h2 .lil-info__arrow { margin-left: 5px; position: relative; top: 4px; display: inline-block; width: 11px; height: 16px; background: url(../img/arrows/arrow-right-w.png) no-repeat; background-position: top right;  }
  .news__inf p { font-size: 12px; } 
  .news__inf p a	{font-size: 14px; }}

/*lil info hacks*/
.lil-info__arrow { -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; margin-left: 6px;margin-left: 0; position: relative; top: 4px; display: inline-block; width: 1px; height: 16px;  
width: 1px !important;
margin-left: 0 !important;
}
.lil-info__arrow i{
  display: inline-block; width: 10px; height: 16px; background: url(../img/arrows/arrow-right-w.png) no-repeat; background-position: top right;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 6px;
}
.lil-info__arrow{
  
}
.lil-info__bot:hover .lil-info__arrow { top: 2px; }
.news__inf .lil-info__bot:hover .lil-info__arrow {   top: 2px; }
/*go translate*/
/*
.news__inf .lil-info-first .lil-info__arrow { margin-left: 6px;  top: 2px; }
@media only screen and (max-width: 1200px) { 
  .news__inf h2 .lil-info__arrow {   top: 4px;  }
}
.filter-block .lil-info__arrow {  top: 4px; }*/
.lil-info:hover .lil-info__arrow, .catalog__block:hover .lil-info__arrow, .gallery__left:hover .lil-info__arrow, 
.info__bot:hover h2 .lil-info__arrow, .info__bot-first:hover h2 .lil-info__arrow, .filter-block:hover .lil-info__arrow,.lil-info__bot:hover .lil-info__arrow,
.news__inf .lil-info__bot:hover .lil-info__arrow    { margin-left: 8px;margin-left: 0; }

.lil-info:hover .lil-info__arrow i, 
.catalog__block:hover .lil-info__arrow i, 
.gallery__left:hover .lil-info__arrow i, i 
.info__bot:hover h2 .lil-info__arrow i, 
.info__bot-first:hover h2 .lil-info__arrow i, 
.filter-block:hover .lil-info__arrow i,
.lil-info__bot:hover .lil-info__arrow i,
.news__inf .lil-info__bot:hover .lil-info__arrow  i {
  -webkit-transform: translate(2px, 0);
  transform: translate(2px, 0);
}



